JWT_SECRET=your_jwt_secret_here
//node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
MONGO_URI=mongodb://localhost:27017/ecommerce
MONGO_URI_TEST=mongodb://localhost:27017/ecommerce_test
